window.localEnv = {
    NEXT_PUBLIC_FAUCET_BACKEND_URL: 'http://localhost:3001/api/faucet',
    NEXT_PUBLIC_RECAPTCHA_SITE_KEY: 'xxx',
    NEXT_PUBLIC_EXPLORER_URL: 'https://eth.t.imua.xyz',
    NEXT_PUBLIC_IM_ETH_FAUCET_ADDR: '0xfCf79695f63FB9e540a1887A19dA94e10ADF13eB'
  };